<div class="wrapper">
    <div class="container">
        <div classe="item1">
            <img src="/assets/image/pok_logo.png" id="pok">
        </div>
        <div classe="item2">
            <div class="mentions">
                <ul>
                    <li><a (click)="scrollToSectionTeam()">Qui sommes nous?</a></li>
                    <li><a (click)="scrollToSectionReal()" >Nos projets</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                </ul> 
            </div>
        </div>
        <div classe="item3">
            <div class="container-logo">
              <fa-icon  title="Linkedin" class="item-logo"  [icon]="faLinkedin"></fa-icon>
              <a href="https://www.instagram.com/pok_agence/?hl=fr">
                <fa-icon  title="Instagram" class="item-logo"  [icon]="faInstagram"> </fa-icon>
              </a>
              <fa-icon  title="Twitter" class="item-logo"  [icon]="faTwitter"></fa-icon>
              <a href="https://www.youtube.com/channel/UC0hfQwkVB0ofA71cL0AoUyQ">
                <fa-icon title="Youtube" class="item-logo"  [icon]="faYoutube"></fa-icon> 
              </a>
              <fa-icon title="Tumblr" class="item-logo"  style="font-size: 38px;" [icon]="faTumblr"></fa-icon>
              <a href="mailto:alvin44.lucas@gmail.com">
                <fa-icon title="Envoyez nous un mail !" class="item-logo"  [icon]="faEnvelope"></fa-icon>
              </a>
            </div>
        </div>
    </div>

    <div class="footer">
        © POK, 2022 ©pok_agence
    </div>
</div>
