.footer {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    height: 3rem;
    overflow: hidden;  
    text-align: right; 
}
.footer p {
    font-size: 20px;
    line-height: 7px;
    animation: linear marqueelike 10s infinite;
}
@keyframes marqueelike {
    0%{
        transform: translate(70%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
