<div class="dots">
    <img src="/assets/image/dots-asset.png" alt="dots">
</div>
<div id="wrapper">
    <div class="header">
        <h1 class="main-title title">LA SALSA LOCA</h1>
        <img src="../assets/image/logo-transparent.png" alt="logo-pok" class="logo">
    </div>
    <h3 class="third-title title">branding</h3>
    <div class="flex-container flex-container-style fixed-height">
      <div class="flex-item">
      <img class="imgprojet" src="/assets/image/Projet3.png">
  </div>

<div class="element">
  <div class="vertical-text">
    <h1>
  PROJET no. 3
    </h1>
  </div>
</div>
<div class="flex-item">
  
</div>
    <div class="bottom-div">
        <p>
          La Salsa Loca est une dark kitchen, située à Nantes, ayant pour spécialité la cuisine mexicaine.
          <br> 
          Notre atmosphère conviviale et chaleureuse vous fera parvenir le Mexique chez vous.
        </p>
    </div>
</div>