<head>
  <script src="https://kit.fontawesome.com/2442f667b4.js" crossorigin="anonymous"></script>
</head>
<body><div class="grille">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div class="wrapper" id="ctc">
    <div class="one">
        <h2>CONTACTEZ-NOUS!</h2>
        <div class="text">
          <br>
            <span> POK </span> est une <span>agence de design</span> créé par les étudiants d’<span>Ynov.</span>
              <br>
              <br>

             Nous proposons nos services pour du <span>branding, webdesign, motion design, audiovisuel, développement, 3D...</span>
             <br>
             <br>
              N’hésitez pas à nous contacter !
        </div>
        <div class="container-logo">
            <fa-icon  title="Linkedin" class="item-logo"  [icon]="faLinkedin"></fa-icon>
            <a href="https://www.instagram.com/pok_agence/?hl=fr">
              <fa-icon  title="Instagram" class="item-logo"  [icon]="faInstagram"> </fa-icon>
            </a>
            <a href="mailto:alvin44.lucas@gmail.com">
              <fa-icon title="contact-pok@gmail.com" class="item-logo"  [icon]="faEnvelope"></fa-icon>
            </a>
        </div>
    </div>
    <div class="droite">
    <div class="two">
        <img src="/assets/image/gros-logo.png" alt="" class="logo">
    </div>
  </div>
</div>
<div class="dot"> <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px"></div>
</body>