<div class="wrapper">
    <h3 class="third-title">Nous contacter</h3>
    <form action="" method="post" class="contact-form">
        <input type="email" name="email" id="input-mail" value="Adresse email" required>
        <input type="textarea" id="input-text" value="Faites nous part de votre projet ici" required>
        <input type="submit" value="ENVOYER" class="submit-button">
    </form>

    <div class="mentions">
        <ul>
            <li><a href="#">Qui sommes nous?</a></li>
            <li><a href="#">Nos projets</a></li>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
        </ul>
    </div>
    <div class="footer">
        © POK, 2022 ©pok_agence
    </div>
</div>
