<div class="wrapper">
    <h3 class="third-title">Nous contacter</h3>
    <form action="" method="post" class="contact-form">
        <input type="email" name="email" id="input-mail" placeholder="Adresse email" required>
        <textarea id="input-text" placeholder="Faites nous part de votre projet ici" required></textarea>
        <input type="submit" value="ENVOYER" class="submit-button">
    </form>

    <div class="container">
        <div classe="item1">
            <img src="/assets/image/pok_logo.png" id="pok">
        </div>
        <div classe="item2">
            <div class="mentions">
                <ul>
                    <li><a href="#">Qui sommes nous?</a></li>
                    <li><a href="#">Nos projets</a></li>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
        <div classe="item3">
            <div class="container-logo">
                <div class="item-logo"><img src="/assets/image/linkedIn-logo.png"></div>
                <div class="item-logo"><a href="https://www.instagram.com/pok_agence/?hl=fr" target="_blank"><img src="/assets/image/insta-logo.png"></a></div>
                <div class="item-logo"><img src="/assets/image/twitter-logo.png"></div>
                <div class="item-logo"><a href="https://www.youtube.com/channel/UC0hfQwkVB0ofA71cL0AoUyQ" target="_blank"><img src="/assets/image/youtube-logo.png"></a></div>
                <div class="item-logo"><img src="/assets/image/tumblr-logo.png"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        © POK, 2022 ©pok_agence
    </div>
</div>
