<div class="dots">
    <img src="/assets/image/dots-asset.png" alt="dots">
</div>
<div id="wrapper">
    <div class="header">
        <h1 id="real2" class="main-title title">NOM DU PROJET - DATE</h1>
        <img src="../assets/image/logo-rose.png" alt="logo-pok" class="logo">
    </div>
    <h3 class="third-title title">type de projet</h3>
    <div class="flex-container flex-container-style fixed-height">
      <div class="flex-item">
      <img class="imgprojet" src="/assets/image/Projet2.png">
  </div>

<div class="element">
  <div class="vertical-text">
    <h1>
  PROJET no. 2
    </h1>
  </div>
</div>
    <div class="bottom-div">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Optio quae perferendis praesentium accusamus quam! 
            Alias aut amet, temporibus necessitatibus quod, in 
            ducimus harum dolore possimus sunt odit iure iusto esse.
        </p>
    </div>
    <div class="flex-item item-deux">
  
    </div>
</div>