<div class="dots">
    <img src="/assets/image/dots-asset.png" alt="dots">
</div>
<div id="wrapper">
    <div class="header">
        <h1 id="real2" class="main-title title">NEOPACE</h1>
        <img src="../assets/image/logo-transparent.png" alt="logo-pok" class="logo">
    </div>
    <h3 class="third-title title">branding</h3>
    <div class="flex-container flex-container-style fixed-height">
      <div class="flex-item rectangle">
      <img class="imgprojet" src="/assets/image/Projet2.png">
  </div>

<div class="element">
  <div class="vertical-text">
    <h1>
  PROJET no. 2
    </h1>
  </div>
</div>
    <div class="bottom-div">
        <p>
          NeoPace est un label de musique indépendant visant à promouvoir les artistes émergents
           de la scène électronique Française, ainsi que ce style de musique alliant sonorités électroniques
            à des rythmes plus calmes et rêveurs.
        </p>
    </div>
    <div class="flex-item item-deux">
  
    </div>
</div>