@media screen and (min-width: 1400px) {

  .grille {
    position: absolute;
    top: 250%;
    z-index: -1;
  }
  .dot {
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    top: 320%;
  }
  .main-title {
    margin-top: 7%;
    margin-bottom: 3%;
    margin-right: -130px;
    font-size: 3rem;
  }
  .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      width: 80%;
      margin: 0 auto;
    }
    .one {
      grid-column: 1;
      grid-row: 1 / 4;
      text-align: center;
      margin-right: 20%;
      margin-left: 20%;
      margin-top: -20%;
      color: white;
    }
    .two {
      font-family: 'Panchang-Regular';
      font-size: 20px;
      grid-column: 2 / 4;
      grid-row: 1 / 3;
      line-height: 2;
      font-weight: bold;
    }
    span {
      font-family: 'Panchang-Bold';
    }
    .three {
      grid-column: 2;
      grid-row: 3;
    }
    .a-three {
      border: solid 4px black;
      background-color: #587FFF;
      box-shadow: 4px 4px 0px black;
      text-align: center;
      padding: 0.5rem 0.5rem;
      text-decoration: none;
      color: white;
    }
    .a-three:hover {
      background-color: white;
      color: #587FFF;
      box-shadow: none;
    }
}

@media screen and (min-width: 400px) {

  .grille {
    position: absolute;
    top: 250%;
    z-index: -1;
  }

  .dot {
    display: none;
  }

    .main-title {
    margin-top: 7%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 2rem;
  }
  .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      width: 80%;
      margin: 0 auto;
      margin-bottom: 10%;
      padding: 5%;
    }
    .one {
      grid-column: 1;
      grid-row: 1 / 4;
      margin-right: 10%;
      margin-left: 40%;
      color: white;
    }
    .two {
      font-family: 'Panchang-Regular';
      font-size: 20px;
      grid-column: 2 / 4;
      grid-row: 1 / 3;
      line-height: 2;
      margin-bottom: 2rem;
    }
    span {
      font-family: 'Panchang-Bold';
    }
    .three {
      display: none;
    }
    .a-three {

      text-align: center;
      padding: 0.5rem 0.5rem;
      text-decoration: none;
      color: white;
    }
    .a-three:hover {
      background-color: white;
      color: #587FFF;
      box-shadow: none;
    }
}

@media screen and (max-width: 400px) {

  .video{
    border: 4px solid black;
    box-shadow: 4px 4px 0px black;
    background-color: #A158FF;
    height: 400px;
    width: 250px;
    text-align: center;
    color: white;
    margin-right: 10.5%;
    margin-left: 20%;
  }

    .grille {
      position: absolute;
      left: -20%;
      z-index: -1;
    }

    .dot {
      display: none;
    }

    .main-wrapper {
      padding: 10% 10%;
    }

    .main-title {
      font-size: 25px;
      font-weight: bolder;
    }

    .two {
      font-family: 'Panchang-Regular';
      font-size: small;
      line-height: 20px;
      margin-bottom: 10%;
      font-weight: bold;
    }

    span {
      font-family: 'Panchang-Bold';
    }

    .three {
      font-size: small;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    .a-three {
      display: block;
      padding: 5px 5px;
      border: solid 4px black;
      background-color: #587FFF;
      box-shadow: 4px 4px 0px black;
      text-align: center;
      text-decoration: none;
      color: white;
    }
    .a-three:hover {
      background-color: white;
      color: #587FFF;
      box-shadow: none;
    }
}