<div class="grille" id="discover">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div>
    <h1 class="main-title">Pourquoi choisir POK ?!</h1>
    <div class="wrapper">
        <div class="one">
            <img width="200" height="400" src="/assets/image/whyPok.gif" alt="video_presentation" >
          
        </div>
        <div class="two">
          Nous savons que le design est plus qu'une
          simple esthétique : c'est une façon de
          communiquer et de transmettre des
          émotions. Nous nous engageons à créer des
          designs qui vous permettent: de vous
          connecter avec votre public cible de manière
          personnalisée et accessible.
        </div>
        <div class="three"><a (click)="scrollToSectionCtc()" class="a-three">NOUS CONTACTER</a></div>
    </div>
</div>
<div class="dot"> <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px"></div>