<div class="grille">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div>
    <h1 id="discover" class="main-title">Pourquoi choisir POK ?!</h1>
    <div class="wrapper">
        <div class="one">
          <div class="video">
                       <video width="250" height="350" controls>
            <source src="/assets/image/video_presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> 


          </div>
        </div>
        <div class="two">
            Nous c'est POK, Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Repudiandae impedit recusandae ea maxime odit expedita saepe eum minima ad 
            fugit voluptatibus quisquam dolorem et, obcaecati modi, facere quia libero. Pariatur? 
        </div>
        <div class="three"><a href="../contact/contact.component.html#ctc" class="a-three">NOUS CONTACTER</a></div>
    </div>
</div>
<div class="dot"> <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px"></div>