<div class="grille">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div class="wrapper">
    <div class="one">
        <h2>CONTACTEZ-NOUS!</h2>
        <div class="text">
            <span>POK</span> est une <span>agence de design</span> créé par les étudiants d'<span>Ynov</span>.<br><br>
            Nous proposons nos services pour du <span>branding, webdesign, motion design, audiovisuel, développement 3D</span>...<br><br>
            Lorem ipsum dolor sit amet, bla consectetur elit egestas.
        </div>
        <div class="container-logo">
            <div class="item-logo"><img src="/assets/image/linkedIn-bleu.png"></div>
            <div class="item-logo"><a href="https://www.instagram.com/pok_agence/?hl=fr" target="_blank"><img src="/assets/image/insta-bleu.png"></a></div>
            <div class="item-logo"><img src="/assets/image/twitter-bleu.png"></div>
            <div class="item-logo"><a href="https://www.youtube.com/channel/UC0hfQwkVB0ofA71cL0AoUyQ" target="_blank"><img src="/assets/image/youtube-bleu.png"></a></div>
            <div class="item-logo"><img src="/assets/image/tumblr-bleu.png"></div>
        </div>
    </div>
    <div class="two">
        <img src="/assets/image/gros-logo.png" alt="" class="logo">
    </div>
</div>
