<div>
    <h1 class="main-title">Pourquoi choisir POK ?!</h1>
    <div class="wrapper">
        <div class="one">video</div>
        <div class="two">
            Nous c'est POK, Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Repudiandae impedit recusandae ea maxime odit expedita saepe eum minima ad 
            fugit voluptatibus quisquam dolorem et, obcaecati modi, facere quia libero. Pariatur? 
            Repudiandae impedit recusandae ea maxime odit expedita saepe eum minima ad fugit voluptatibus 
            quisquam dolorem et, obcaecati modi, facere quia libero. Pariatur?
        </div>
        <div class="three"><a href="#" class="a-three">NOUS CONTACTER</a></div>
    </div>
</div>
