<div class="wrapper">
    <div class="one">
        <div class="title">
            <img src="/assets/image/File-asset.png" alt="logo">
            <h1 class="main-title">L'équipe</h1>
        </div>
        <div class="text">
            Nous c'est POK, Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. Provident quis 
            rem, amet repudiandae, asperiores saepe 
            corrupti quasi et possimus eveniet excepturi 
            dolorum similique quos maxime impedit commodi 
            culpa, harum fugiat!
            dolor sit amet 
        </div>
    </div>
    <div class="two">
        <div class="heads-wrapper">
            <div class="head one"><img src="" alt="prénom1"   ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head two"><img src="" alt="prénom2"   ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head three"><img src="" alt="prénom3" ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head four"><img src="" alt="prénom4"  ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head five"><img src="" alt="prénom5"  ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head six"><img src="" alt="prénom6"   ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head seven"><img src="" alt="prénom7" ><figcaption>Prénom nom<br>profession</figcaption></div>
            <div class="head eight"><img src="" alt="prénom8" ><figcaption>Prénom nom<br>profession</figcaption></div>
        </div>
    </div>
</div>