<div class="grille">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div id="team"></div>
<div class="wrapper">
    <div class="un">
        <div class="title">
            <img src="/assets/image/File-asset.png" alt="logo" class="logo">
            <h1 class="main-title">L'équipe</h1>
        </div>
        <div class="text">
          <span>Nous c'est POK,</span> une jeune
          agence spécialisée dans
          les métiers du graphisme.
          <br>
          <br>
          Nous sommes tous
          passionnés et prêts à
          vous aider à donner vie à
          vos idées les plus folles !
        </div>
    </div>
    <div class="deux">
        <div class="heads-wrapper">
            <div class="head one"><img src="" alt="prénom1"   class="bulle"><a target="_blank" href="https://www.linkedin.com/in/ronan-ch%C3%A2tellier-642b9621b/" >Ronan Châtellier</a><br><span>Créa design</span></div>
            <div class="head two"><img src="" alt="prénom2"   class="bulle"><a target="_blank" href="https://www.linkedin.com/in/ma%C3%ABlly-sorel-62708221a/" >Maëlly Sorel</a><br><span>Créa design</span></div>
            <div class="head three"><img src="" alt="prénom3" class="bulle"><a target="_blank" href="https://www.linkedin.com/in/alvin-lucas-016755201/" >Alvin Lucas</a><br><span>Développeur</span></div>
            <div class="head four"><img src="" alt="prénom4"  class="bulle"><a target="_blank" href="https://www.linkedin.com/in/tom-saillard-130004228/" >Tom Saillard</a><br><span>Développeur</span></div>
            <div class="head five"><img src="" alt="prénom5"  class="bulle"><a target="_blank" href="https://www.linkedin.com/in/ambroise-morandeau/" >Ambroise Morandeau</a><br><span>Développeur</span></div>
            <div class="head six"><img src="" alt="prénom6"   class="bulle"><a target="_blank" href="https://www.linkedin.com/in/thomas-devaux-lequint-1319741b6/" >Thomas Devaux Lequint</a><br><span>Web marketing</span></div>
            <div class="head seven"><img src="" alt="prénom7" class="bulle"><a target="_blank" href="https://www.linkedin.com/in/matthis-coulon-900493204/" >Matthis Coulon</a><br><span>Audio visuel</span></div>
        </div>
    </div>
</div>
<div class="dot"> <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px"></div>