<div class="grille">
  <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div class="dot">
  <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px">
</div>
<div class="wrapper">  
    <div class="one">
        <div class="header">
            <img src="/assets/image/LOGO-POK.png" alt="" class="logo">
            <a (click)="scrollToSectionReal()" class="real">NOS REALISATION</a>
            <a (click)="scrollToSectionCtc()" class="contact">NOUS CONTACTER</a>
        </div>
        <div class="text">
            <span>POK</span> est une <span>agence de design</span> créé par les étudiants d'<span>Ynov</span>.<br><br>
            Nous proposons nos services pour du <span>branding, webdesign, motion design, audiovisuel, développement 3D</span>...<br><br>
            N'hésitez pas à <span>nous contacter</span> !
        </div>
        <div class="buttons"> 
           <a (click)="scrollToSectionDecouvrir()"  class="button un">DECOUVRIR</a>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a (click)="scrollToSectionCtc()"  class="button deux">NOUS CONTACTER</a>
        </div>
    </div>
    <div class="two">
        <div class="container-logo">
          <fa-icon  title="Linkedin" class="item-logo"  [icon]="faLinkedin"></fa-icon>
          <a href="https://www.instagram.com/pok_agence/?hl=fr">
            <fa-icon  title="Instagram" class="item-logo"  [icon]="faInstagram"> </fa-icon>
          </a>
          <fa-icon  title="Facebook" class="item-logo"   [icon]="faFacebookF"></fa-icon>
          <a href="mailto:alvin44.lucas@gmail.com">
            <fa-icon title="contact-pok@gmail.com" class="item-logo"  [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
        <div class="video" >
          <img width="100%" height="80%" src="/assets/image/presentation_pok.gif" alt="video_presentation" class="gif">

        </div>
    </div>
</div>