<div class="grille">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div class="dot">
    <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px">
</div>
<div class="wrapper">
    <div class="one">
        <div class="header">
            <img src="/assets/image/LOGO-POK.png" alt="" class="logo">
            <a (click)="scrollToSectionReal()" class="real">NOS REALISATION</a>
            <a (click)="scrollToSectionCtc()" class="contact">NOUS CONTACTER</a>
        </div>
        <div class="text">
            <span>POK</span> est une <span>agence de design</span> créé par les étudiants d'<span>Ynov</span>.<br><br>
            Nous proposons nos services pour du <span>branding, webdesign, motion design, audiovisuel, développement 3D</span>...<br><br>
            N'hésitez pas à <span>nous contacter</span>.
        </div>
        <div class="buttons">
           <a (click)="scrollToSectionDecouvrir()"  class="button un">DECOUVRIR</a>
           <a (click)="scrollToSectionCtc()"  class="button deux">NOUS CONTACTER</a>
        </div>
    </div>
    <div class="two">
        <div class="container-logo">
          <fa-icon  title="Linkedin" class="item-logo"  [icon]="faLinkedin"></fa-icon>
          <a href="https://www.instagram.com/pok_agence/?hl=fr">
            <fa-icon  title="Instagram" class="item-logo"  [icon]="faInstagram"> </fa-icon>
          </a>
          <fa-icon  title="Twitter" class="item-logo"  [icon]="faTwitter"></fa-icon>
          <a href="https://www.youtube.com/channel/UC0hfQwkVB0ofA71cL0AoUyQ">
            <fa-icon title="Youtube" class="item-logo"  [icon]="faYoutube"></fa-icon> 
          </a>
          <fa-icon title="Tumblr" class="item-logo"  style="font-size: 28px;" [icon]="faTumblr"></fa-icon>
          <a href="mailto:alvin44.lucas@gmail.com">
            <fa-icon title="Envoyez nous un mail !" class="item-logo"  [icon]="faEnvelope"></fa-icon>
          </a>
        </div>
        <div class="video" >
          <img width="250" height="400" src="/assets/image/video_presentation.gif" alt="video_presentation" class="logo">
      
          
          <!-- <video width="250" height="600" controls>
            <source src="/assets/image/video_presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
        </div>
    </div>
</div>