@media screen and (min-width: 1400px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    display: none;
}
    .grille {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
    }
    .dot {
        position: absolute;
        top: 40%;
        right: 2%;
        z-index: -1;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
        width: 80%;
        margin: 5% auto;
        margin-bottom: 10%;
        z-index: 100;
    }
    .header {
        display: flex;
        font-size: 13px;
        margin-bottom: 5rem;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .logo {
        margin-right: 2rem;
    }
    .real, .contact {
        padding-top: 1.6rem;
        margin-right: 2rem;
        font-weight: bold;
    }

    .text {
        font-family: 'Panchang-Regular';
        line-height: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;
        width: 90%;
    }
    span {
        font-family: 'Panchang-Bold';
    }

    .un {
        color: white;
        background-color: #587FFF;
        margin-right: 20px;
    }
    .un:hover {
        background-color: white;
        color: #587FFF;
        box-shadow: none;
    }
    .deux {
        color: black;
    }
    .deux:hover {
        color: #587FFF;
        box-shadow: none;
    } 
    .button {
        border: 3.5px solid black;
        box-shadow: 4px 4px 0 black;
        padding: 5px 10px;
    }

    .one {
        grid-column: 1 / 2;
        grid-row: 1;
        width: 40rem;
    }
    .two {
        grid-column: 3;
        grid-row: 1;
    }

.container-logo {
    align-items: center;
    position: absolute;
    right: 11.5%;
}
.item-logo {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: black;
    font-size: 30px;
    cursor: pointer;
}

    .video {
        border: 4px solid black;
        box-shadow: 4px 4px 0px black;
        background-color: #A158FF;
        height: 400px;
        width: 250px;
        text-align: center;
        color: white;
        margin-top: 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 1400px) {
    
    .grille {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
    }
    .dot {
        display: none;
    }

    .wrapper {
        padding: 5%;
    }

    .header img, .header a {
        margin-right: 2rem;
    }

    .header {
        margin-bottom: 4rem;
    }

    .header a {
        font-size: 80%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .container-logo {
        display: none;
    }

    .text {
        font-family: 'Panchang-Regular';
        line-height: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;
        width: 90%;
    }
    span {
        font-family: 'Panchang-Bold';
    }

    .un, .deux {
        display: block;
        padding: 1rem 0;
        border-top: 3.5px solid black;
        text-align: center;
    }
    .un {
        color: white;
        background-color: #587FFF;
        width: 30%;
    }
    .un:hover {
        background-color: white;
        color: #587FFF;
        box-shadow: none;
    }
    .deux {
        color: black;
        width: 35%;
    }
    .deux:hover {
        color: #587FFF;
        box-shadow: none;
    } 
    .button {
        border: 3.5px solid black;
        box-shadow: 4px 4px 0 black;
        padding: 5px 10px;
        display: block;
        margin: 2rem auto;
        font-size: 80%;
    }

    .video {
        border: 4px solid black;
        box-shadow: 4px 4px 0px black;
        height: 400px;
        width: 350px;
        text-align: center;
        color: white;
        margin-right: auto;
        margin-left: auto;
    }
    .video img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
       
    .grille {
        position: absolute;
        top: 0%;
        left: -20%;
        z-index: -1;
    }
    .dot {
        display: none;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(100px, auto);
        width: 90%;
        margin: 5% auto;
        margin-top: 20%;
        margin-bottom: 10%;
        z-index: 100;
    }
    .header {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        margin-bottom: 2rem;
    }
    span {
        font-family: 'Panchang-Bold';
    }
    a {
        text-decoration: none;
        color: black;
    }
    .logo {
        margin-bottom: 1rem;
        width: 30%;
    }
    .real, .contact {
        display: none;
        margin-right: 0;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .text {
        font-family: 'Panchang-Regular';
        line-height: 2rem;
        margin-bottom: 2rem;
        font-size: 16px;
        width: 100%;
    }
    .un, .deux {
        display: block;
        width: 100%;
        padding: 1rem 0;
        border-top: 3.5px solid black;
        text-align: center;
    }
    .un {
        color: white;
        background-color: #587FFF;
        width: 50%;
    }
    .un:hover {
        background-color: white;
        color: #587FFF;
        box-shadow: none;
    }
    .deux {
        color: black;
        width: 80%;
    }
    .deux:hover {
        color: #587FFF;
        box-shadow: none;
    } 
    .button {
        border: 3.5px solid black;
        box-shadow: 4px 4px 0 black;
        padding: 5px 10px;
        display: block;
        margin: 2rem auto;
    }

    .one, .two, .three, .four, .five {
        width: 90%;
    }

    .item-logo {
        display: none;
    }

    .video {
        display: none;
    }
}
