<div class="grille">
    <img src="/assets/image/grid-asset.png" alt="grid">
</div>
<div class="dot">
    <img src="/assets/image/dots-assets.png" alt="dots" width="250px" height="400px">
</div>
<div class="wrapper">
    <div class="one">
        <div class="header">
            <img src="/assets/image/LOGO-POK.png" alt="" class="logo">
            <a href="../projet/projet.component.html#real" class="real">NOS REALISATION</a>
            <a href="../contact/contact.component.html#ctc" class="contact">NOUS CONTACTER</a>
        </div>
        <div class="text">
            <span>POK POK POK</span> est une <span>agence de design</span> créé par les étudiants d'<span>Ynov</span>.<br><br>
            Nous proposons nos services pour du <span>branding, webdesign, motion design, audiovisuel, développement 3D</span>...<br><br>
            N'hésitez pas à <span>nous contacter</span>.
        </div>
        <div class="buttons">
            <a href="../why-pok/why-pok.component.html#discover" class="button un">DECOUVRIR</a>
            <a href="../contact/contact.component.html#ctc" class="button deux">NOUS CONTACTER</a>
        </div>
    </div>
    <div class="two">
        <div class="container-logo">
            <div class="item-logo"><img src="/assets/image/linkedIn-noir.png"></div>
            <div class="item-logo"><a href="https://www.instagram.com/pok_agence/?hl=fr" target="_blank"><img src="/assets/image/insta-noir.png"></a></div>
            <div class="item-logo"><img src="/assets/image/twitter-noir.png"></div>
            <div class="item-logo"><a href="https://www.youtube.com/channel/UC0hfQwkVB0ofA71cL0AoUyQ" target="_blank"><img src="/assets/image/youtube-noir.png"></a></div>
            <div class="item-logo"><img src="/POK/src/assets/image/Facebook_without_bg.png"></div>
        </div>
        <div class="video">VIDEO</div>
    </div>
</div>