<div style="text-align: center;">
    <div>
    <table style="align : center;">
        <tr style="  text-align : center">
            <td > <p>POK</p>  </td>
            <td ><p>NOS REALISATIONS</p></td>
            <td ><p>NOUS CONTACTER</p></td>
        </tr>
    </table>
    </div>
    <div>
        <b>POK</b> est une <b>de design</b> créé par les étudiants <b>d’Ynov.</b>
        <br>
        <br>

Nous proposons nos services pour du <b>branding, webdesign, motion design, audiovisuel, développement, 3D...</b>
<br>
<br>
N’hésitez pas à <b>nous contacter !</b>
<br>
<br>
<button>DECOUVRIR</button>
<button>NOUS CONTACTER</button>

    </div>
    <div>

</div>