.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 80%;
    margin: 5% auto;
}
.header {
    display: flex;
    margin-bottom: 5rem;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    margin-right: 2rem;
}
.real, .contact {
    padding-top: 1.6rem;
    margin-right: 2rem;
    font-weight: bold;
}

.text {
    line-height: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
    width: 90%;
}
span {
    font-weight: bold;
}

.un {
    color: white;
    background-color: #587FFF;
    margin-right: 20px;
}
.un:hover {
    background-color: white;
    color: #587FFF;
    box-shadow: none;
}
.deux {
    color: black;
}
.deux:hover {
    color: #587FFF;
    box-shadow: none;
} 
.button {
    border: 3.5px solid black;
    box-shadow: 4px 4px 0 black;
    padding: 5px 10px;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
    width: 40rem;
}
.two {
    grid-column: 3;
    grid-row: 1;
}

.container-logo {
    display: flex;
    float: right;
}
.item-logo {
    margin-left: 2rem;
}

.video {
    border: 4px solid black;
    box-shadow: 4px 4px 0px black;
    background-color: #A158FF;
    height: 500px;
    width: 350px;
    text-align: center;
    color: white;
    margin-top: 50px;
}