<div class="dots">
    <img src="/assets/image/dots-asset.png" alt="dots">
</div>
<div id="wrapper">
    <div class="header" id="real">
        <h1 id="real" class="main-title title">MANGE ET TAIS TOI !</h1>
        <img src="../assets/image/logo-transparent.png" alt="logo-pok" class="logo">
    </div>
    <div class="third-title title">
        <h3 >branding</h3>
</div>
<div class="flex-container flex-container-style fixed-height">
  <div class="flex-item rectangle">
        <img class="imgprojet" src="/assets/image/Projet1.png">
  </div>
  <div class="element">
    <div class="vertical-text">
      <h1>
    PROJET no. 1
      </h1>
    </div>
</div>
</div>
    <div class="bottom-div">
        <p>
          Mange Et Tais Toi est un restaurant dit « Dark kitchen » orienté sur la nutrition sportive.
          <br>
           Les clients ont toutes les infos sur le contenu de leur assiettes : macro nutriments, valeurs nutritionnelles…
        </p>
    </div>
    <div class="flex-item item-deux">
    
    </div>
</div>
